@model Dados.Totem

@{
    ViewBag.Title = "Create";
}

<div class="col-xs-5">

    <h2>Caminho</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="col-lg-6 form-group">
            @Html.Label("Andar")

            @Html.DropDownList("Id_Andar", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Id_Andar)
        </div>
               
        <div class="col-lg-6 form-group">
            @Html.Label("Localização")

            @Html.TextBoxFor(model => model.Localizacao, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Localizacao)
        </div>

        <div class="col-lg-12">

            <button type="submit" class="btn btn-primary">Salvar</button>

            <button type="button" class="btn btn-primary" 
                onclick="window.location='@Url.Action("Index")';">
                Cancelar
            </button>

        </div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>
