@model Dados.Totem

@{
    ViewBag.Title = "Delete";
}

<div class="col-xs-5">

    <h2>Totem</h2>

    <h3>Você tem certeza que quer deletar esse registro?</h3>

    <div class="row">
        
        <div class="col-lg-6 form-group">
            <label>Andar</label>
            <p class="form-control-static">@Model.Andar.Nome</p>
        </div>

        <div class="col-lg-6 form-group">
            <label>Localização</label>
            <p class="form-control-static">@Model.Localizacao</p>
        </div>

    </div>
    
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <img src="@ViewBag.imgSrc" title="QRCode" width="400" height="400" />
            </div>
        </div>
    </div>
    
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Deletar" class="btn btn-primary">
            
            <button type="button" class="btn btn-primary" 
                onclick="window.location='@Url.Action("Index")';">
                Cancelar
            </button>

        </p>
    }

</div>
