@model Dados.Mapa

@{
    ViewBag.Title = "Edit";
}

<div class="col-xs-5">

    <h2>Mapa</h2>

    @using (Html.BeginForm("Edit", "Mapa", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
                
        <div class="col-lg-12 form-group">
            @Html.Label("Descrição")

            @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
        
        <div class="col-lg-12 form-group">
            @Html.Label("Imagem")

            <input type="file" name="FileUpload1" />
        </div>
        
        <div class="col-lg-12">

            <button type="submit" class="btn btn-primary">Salvar</button>

            <button type="button" class="btn btn-primary" 
                onclick="window.location='@Url.Action("Details", new {id = Model.Id })';">
                Cancelar
            </button>

        </div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>
