@model Dados.Bloco

@{
    ViewBag.Title = "Details";
}

<div class="col-xs-5">

    <h2>Bloco</h2>

    <div class="row">

        <div class="col-lg-3">

            <label>
                Nome
            </label>
            <div class="display-field">
                @Html.DisplayFor(model => model.Nome)
            </div>

        </div>

        <div class="col-lg-3">

            <label>
                Andar
            </label>
            <div class="display-field">
                @Html.DisplayFor(model => model.Andar.Nome)
            </div>

        </div>

    </div>

    <br />

    <div class="row">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Vagas</h3>
            </div>
            <div class="panel-body">

                @foreach (var vaga in Model.Vaga)
                {
                
                    <div class="col-lg-3 text-center">
                        <a href="@Url.Action("Details", "Vaga", new { id = vaga.Id })">

                            @{string cssSituacao = "";}

                            @if (vaga.Situacao == Dados.eSituacaoVaga.Livre.ToString())
                            {
                                if (vaga.Deficiente)
                                {
                                    cssSituacao = "panel-info";
                                }
                                else
                                {
                                    cssSituacao = "panel-success";
                                }
                            }
                            else
                            {
                                if (vaga.Bloqueada)
                                {
                                    cssSituacao = "panel-heading";
                                }
                                else
                                {
                                    cssSituacao = "panel-danger";
                                }
                            }

                            <div class="panel @cssSituacao" title="@vaga.Situacao">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        @Html.DisplayFor(modelItem => vaga.Nome)
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                
                }

            </div>
        </div>

    </div>

    <button type="button" class="btn btn-primary" 
                onclick="window.location='@Url.Action("Edit", new { Model.Id })';">
        Editar
    </button>

    <button type="button" class="btn btn-primary" 
                onclick="window.location='@Url.Action("Index", "Andar", null)';">
        Voltar
    </button>

</div>
