@model Dados.Bloco

@{
    ViewBag.Title = "Details";
}

<h2>Bloco</h2>

<div class="row">

    <div class="col-lg-3">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index", "Andar", null, null)
    </div>

</div>

<div class="row">

    <div class="col-lg-3">

        <label>
            Nome
        </label>
        <div class="display-field">
            @Html.DisplayFor(model => model.Nome)
        </div>

    </div>

    <div class="col-lg-3">

        <label>
            Andar
        </label>
        <div class="display-field">
            @Html.DisplayFor(model => model.Andar.Nome)
        </div>

    </div>
    
</div>

<br />

<div class="row">

    <div class="col-lg-12">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Vaga</th>

                    <th>Situação</th>

                    <th>Editar</th>

                    <th>Excluir</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var vaga in Model.Vaga)
                {
        
                    <tr>
                        <td>@vaga.Nome</td>

                        <td>@vaga.Situacao</td>

                        <td>@Html.ActionLink("Editar", "Edit", "Vaga", new { id = vaga.Id }, null)</td>

                        <td>@Html.ActionLink("Excluir", "Delete", "Vaga", new { id = vaga.Id }, null)</td>

                    </tr>
        
                }

            </tbody>

        </table>

    </div>

</div>
