@model Dados.Vaga

@{
    ViewBag.Title = "Details";
}

<div class="col-xs-5">

    <h2>Vaga</h2>

    <div class="row">

        <div class="col-lg-6 form-group">
            <label>Nome</label>
            <p class="form-control-static">@Model.Nome</p>

        </div>

        <div class="col-lg-6 form-group">
            <label>Bloco</label>
            <p class="form-control-static">@Model.Bloco.Nome</p>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-6 form-group">
            <label>Situação</label>
            <p class="form-control-static">@Model.Situacao</p>
        </div>


        <div class="col-lg-6 checkbox">
            <label>
                @Html.DisplayFor(model => model.Deficiente)

                Deficiente
            </label>
        </div>


    </div>

    <div class="row">

        <div class="col-lg-6 form-group">
            <label>Endereço do sensor</label>
            <p class="form-control-static">@Model.EnderecoSensor</p>

        </div>

        <div class="col-lg-6 checkbox">
            <label>
                @Html.DisplayFor(model => model.Bloqueada)

                Bloqueada para reserva
            </label>

        </div>
    </div>

    <button type="button" class="btn btn-primary" 
                onclick="window.location='@Url.Action("Edit", new { Model.Id })';">
        Editar
    </button>

    <button type="button" class="btn btn-primary" 
                onclick="window.location='@Url.Action("Details", "Bloco", new { id = Model.Id_Bloco })';">
        Voltar
    </button>

</div>
