@model Dados.Vaga

@{
    ViewBag.Title = "Edit";
}

<div class="col-xs-5">

    <h2>Vaga</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)
 
    <div class="row">

        <div class="col-lg-6 form-group">
            @Html.LabelFor(model => model.Nome)

            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
               
        <div class="col-lg-6 form-group">
            @Html.Label("Bloco")

            @Html.DropDownList("Id_Bloco", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Id_Bloco)
        </div>
                
    </div>

    <div class="row">

        <div class="col-lg-6 form-group">
            @Html.HiddenFor(model => model.Situacao)

            <label>Situação</label>
            <p class="form-control-static">@Model.Situacao</p>
        </div>
        
        @Html.HiddenFor(model => model.Id_Carro)
        
        @Html.HiddenFor(model => model.HoraReserva)

        <div class="col-lg-6 checkbox">
            <label>
                @Html.EditorFor(model => model.Deficiente)
                @Html.ValidationMessageFor(model => model.Deficiente)

                Deficiente
            </label>
        </div>
        
    </div>
        
    <div class="row">

        <div class="col-lg-6 form-group">
            @Html.Label("Endereço do sensor")
            
            @Html.TextBoxFor(model => model.EnderecoSensor, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EnderecoSensor)
        </div>
                
        @Html.HiddenFor(model => model.AguardandoSinalizacao)
        
        <div class="col-lg-6 checkbox">
            <label>
                @Html.EditorFor(model => model.Bloqueada)
                @Html.ValidationMessageFor(model => model.Bloqueada)

                Bloqueada para reserva
            </label>
        </div>
        
    </div>

        <button type="submit" class="btn btn-primary">Salvar</button>

        <button type="button" class="btn btn-primary" 
                onclick="window.location='@Url.Action("Details", new { Model.Id })';">
            Cancelar</button>

    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>
