@model Dados.Configuracao

@{
    ViewBag.Title = "Edit";
}

<h2>Configuração</h2>

<div class="col-xs-3">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Nome)

        <div class="form-group">
            @Html.Label(Model.Nome)
            @Html.TextBoxFor(model => model.Valor, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Valor)
        </div>
           
        <div class="Row">
            
            <button type="submit" class="btn btn-primary">Salvar</button>
              
            <button type="button" class="btn btn-primary" 
                onclick="window.location='@Url.Action("Index")';">Cancelar</button>  

        </div>
    
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
