@model Dados.Cliente

@{
    ViewBag.Title = "Delete";
}

<div class="col-lg-6">

    <h2>Cliente</h2>

    <h3>Você tem certeza que quer deletar esse registro?</h3>

    <div class="row">

        <div class="col-lg-6 form-group">
            <label>Nome</label>
            <p class="form-control-static">@Model.Nome</p>
        </div>

        <div class="col-lg-6 form-group">
            <label>CPF</label>
            <p class="form-control-static">@Model.CPF</p>
        </div>

        <div class="col-lg-6 form-group">
            <label>Sexo</label>
            <p class="form-control-static">@Model.Sexo</p>
        </div>

        <div class="col-lg-6 form-group">
            <label>Data de nascimento</label>
            <p class="form-control-static">@Model.Data_Nascimento.ToShortDateString()</p>
        </div>

        <div class="col-lg-6 form-group">
            <label>Data de Cadastro</label>
            <p class="form-control-static">@Model.Data_Cadastrado.ToShortDateString()</p>
        </div>

    </div>

    <table class="table table-bordered table-hover">
        <tr>
            <th>Placa</th>

            <th>Marca</th>
        </tr>

        @foreach (var item in Model.Carro)
        {     
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
            </tr>   
        }
    </table>
    
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Deletar" class="btn btn-primary">

            <button type="button" class="btn btn-primary" 
                onclick="window.location='@Url.Action("Index")';">
                Cancelar
            </button>

        </p>
    }

</div>
