@model IEnumerable<Dados.Andar>

@{
    ViewBag.Title = "Index";
}

<h2>@Html.DisplayNameFor(model => model.Nome)</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Html.DisplayFor(modelItem => item.Nome)
                <span class="badge">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </span>
                <span class="badge">
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </span>
                <span class="badge">
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </span>
            </h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>

}
